.button {
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    display: block;
    margin: 1rem;
    cursor: pointer;
    font-weight: 800;
    &__cta.button__cta {
        font-weight: 800;
        padding: 0.5rem 1.5rem;
        // Increase Specificity
        &--primary.button__cta--primary {
            background-color: $primary-hl;
            border: 5px solid $primary-hl;
            color: white;
        }
        &--secondary {
            border: 5px solid $primary-hl;
            color: $primary-hl;
        }
        a:visited {
            color: white;
        }
    }
}