.form {
    background-color: $main-light;
    padding: 3rem 1rem 0.5rem 1rem;
    border-radius: 5px;
    max-width: 29.5rem;
    &__row {
        padding: 0;
        margin: 2rem 2rem;
    }
}

.flex-form {
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.form-container {
    display: flex;
    flex-direction: column;
    transform: translateY(-15%);
}
.form-title {
    &-svg {
        transform: scale(0.75);
    }
}