.navigation {
    display: flex;
    width: 100%;
    background-color: $main-dark;
    &__bar {
        flex-direction: row;
        justify-content: flex-end;
    }
    &__item {
        display: block;
        margin: 1rem;
        > a, input {
            text-decoration: none;
            color: $main-light;
            font-weight: 800;
            letter-spacing: 0.75px;
            font-size: 1.6rem;
        }

        input {
            display: block;
            background-color: $main-dark;
            border: none;
            font-family: $font-family-sans-serif;
            font-weight: 800;           
            font-size: 1.5rem;
            cursor: pointer;
        }
    }
}
