.container {
    display: flex;

    &--align-end {
        align-items:flex-end;
        justify-content: flex-end;
    }
    &--align-column {
        flex-direction: column;
        justify-content: center;
    }
}

.center-horizontal {
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}