// Body
$body-bg: #ecf0f1;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$main-light: #e6e6e6;
$main-dark: #808080;
$contrast-primary: #00B894;
$contrast-secondary: #2d3436;
$primary-hl: #e74c3c;
